[submodule "backend"]
	path = backend
	url = https://github.com/jpotterlabs/trendit-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/jpotterlabs/trendit-frontend.git
[submodule "mobile"]
	path = mobile
	url = https://github.com/jpotterlabs/trendit-mobile.git
